#footer-version{
  width: 100%;
  background: $color_black;
  color: $color_white;
  opacity: 0.6;
  height: rem(35);
  margin-top: -100px;
  p{
    margin: rem(5) 0;
    font-size: px(12);
    line-height: rem(25);
  }
  img{
    height: rem(25);
    margin: rem(5) rem(0);
  }
  &.footer-static{
    position: absolute;
    bottom: 0;
  }
}