//DASH BOARD PAGE
#dash-board{

  //.title-fida{
  //  font-size: px(25);
  //}
  //.btn-line{
  //  display: flex;
  //  .btn-dashboard{
  //    width: 100%;
  //    margin: rem(0.5);
  //    padding: rem(12) rem(10);
  //    text-align: center;
  //    text-transform: uppercase;
  //    position: relative;
  //    overflow:hidden;
  //    transition: .3s;
  //    background: $color_primary;
  //    color: $color_white;
  //    font-weight: $font_regular;
  //    font-size: px(14);
  //    box-shadow: inset 0px -5px 0px rgba(255, 255, 255, 0.2);
  //    &:after {
  //      position: absolute;
  //      transition: .3s;
  //      content: '';
  //      width: 0;
  //      left: 50%;
  //      bottom: 0;
  //      height: 5px;
  //      background: $color_cyan_5;
  //    }
  //    &:focus,
  //    &:hover{
  //      cursor: pointer;
  //      background: rgba(40,88,139,0.95);
  //      &:after {
  //        width: 100%;
  //        left: 0;
  //      }
  //    }
  //    &:first-child{
  //      margin-left: 0;
  //    }
  //    &:last-child{
  //      margin-right: 0;
  //    }
  //  }
  //}
  //.panel-default{
  //  .panel-heading{
  //    background: url("../images/requeriments.jpg");
  //    background-size: cover;
  //    height: 200px;
  //    margin: rem(15) rem(15) 0;
  //    padding: 0;
  //    border: 0;
  //    border-top-left-radius: 10px;
  //    border-top-right-radius: 10px;
  //    .title-fida{
  //      padding: 30px 20px;
  //      background: rgba(255,255,255,0.25);
  //      text-transform: uppercase;
  //      color: $color_white;
  //      box-shadow: 0px 1px 0px rgba(128, 128, 128, 0.35);
  //    }
  //  }
  //  .panel-body{
  //    padding: 0 rem(15);
  //  }
  //  .panel-footer{
  //    background: $color_primary;
  //    border-bottom-right-radius: 10px;
  //    border-bottom-left-radius: 10px;
  //    margin: 0 rem(15) rem(15);
  //  }
  //}

  .panel-default{display: flex;
    flex-direction: column;
    -ms-flex-pack: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    background-size: cover;
    min-height: rem(350);
    border-radius: rem(10);
    border: 1px solid $color_primary;
    &.panel-req{
      background-image: url("../images/img-prueba-05.png");
    }
    &.panel-def{
      background-image: url("../images/img-prueba-04.png");
    }
    &.panel-config{
      background-image: url("../images/img-prueba-06.png");
    }
    &.panel-exec{
      background-image: url("../images/img-prueba-02.png");
    }
    .panel-heading{
      background: rgba(0,0,0,0.25);
      border: 0;
      box-shadow: 0 1px 0 rgba(128, 128, 128, 0.35);
      text-shadow: 0 1px 0 rgba(128, 128, 128, 0.35);
      height: rem(73);
      -webkit-transition: height 0.5s;
      transition: height 0.5s;
      &:hover{
        height: rem(95);
        .subtitle-fida{
          opacity: 1;
        }
      }
      .title-fida{
        margin: rem(10) 0;
        text-transform: uppercase;
        color: $color_white;
      }
      .subtitle-fida{
        color: $color_cyan_5;
        opacity: 0;
        transition: opacity 1.75s;
        margin-top: rem(0);
      }
    }
    .panel-body{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      .btn-dashboard{
        border-radius: rem(5);
        border: 1px solid darkgrey;
        padding: rem(10) rem(30) rem(10) rem(10);
        font-size: px(14);
        text-align: right;
        background: rgba(40, 88, 139, 0.85);
        text-transform: uppercase;
        color: $color_white;
        margin: rem(5);
        min-height: rem(60);
        max-width: rem(190);
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.35);
        display: flex;
        align-items: flex-end;
        transition: .3s;
        &:hover,
        &:focus{
          background: $color_primary;
          box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.75);
          &:after{
            background: yellow;
          }
        }
        &:after{
          content: "";
          position: relative;
          height: 35px;
          width: 3px;
          background: $color_white;
          right: rem(-20);
        }
        p{
          margin: 0;
        }
      }
    }
  }

}